#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define GAME 1
#define L1 2
#define L2 3
#define SYS 4

/ {  
    combos {
        compatible = "zmk,combos";
        combo_sys {
            timeout-ms = <50>;
            key-positions = <38 39 40>;
            bindings = <&tog 4>;
        };
        combo_game {
            timeout-ms = <50>;
            key-positions = <3 15>;
            bindings = <&tog 1>;
        };
    };
    behaviors {
        td0: tap_dance_l1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_L1";
            #binding-cells = <0>;
            tapping-term-ms = <350>;
            bindings = <&mo 2>, <&tog 2>;
        };
        td1: tap_dance_l2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_L2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 3>, <&tog 3>;
        };
        qt_bl: bl-quick-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "BALANCED_QUICK_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&mo>, <&kp>;
        };

    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    F    |    P    |    B    |                                          |    J    |    L    |    U    |    Y    |    ;    |    \    |
// |   TAB   |    A    |    R    |    S    |    T    |    G    |                                          |    M    |    N    |    E    |    I    |    O    |    '    |
// |    `    |    Z    |    X    |    C    |    D    |    V    |                                          |    K    |    H    |    ,    |    .    |    /    |   CAPS  |
//           |    -    |    =    |   L1    |  SPACE  |   GUI   |                                          | RETURN  |   BSPC  |   L2    |    [    |    ]    |
//                               |  SHIFT  |   LALT  |                                                              |    DEL  |   L1    |
            bindings = <
    &kp ESC    &kp Q     &kp W     &kp F        &kp P        &kp B                                      &kp J     &kp L     &kp U     &kp Y    &kp SEMI  &kp BSLH
    &kp TAB    &kp A     &kp R     &kp S        &kp T        &kp G                                      &kp M     &kp N     &kp E     &kp I    &kp O     &kp SQT
    &kp GRAVE  &kp Z     &kp X     &kp C        &kp D        &kp V                                      &kp K     &kp H     &kp COMMA &kp DOT  &kp FSLH  &caps_word
               &kp MINUS &kp EQUAL &mt L1 SPACE &kp LCTRL &kp LGUI                                   &kp RET   &kp BSPC  &td1      &kp LBKT &kp RBKT
                                   &kp LSHIFT   &kp LALT                                                          &kp DEL   &td0
            >;
        };

        game_layer {
            bindings = <
     &kp L      &kp ESC   &kp Q     &kp W     &kp E     &kp R                                               &kp Y     &kp U     &kp I     &kp O    &kp P     &kp BSLH
     &kp J      &kp LSHFT &kp A     &kp S     &kp D     &kp F                                               &kp H     &kp J     &kp K     &kp L    &kp SEMI  &kp SQT
     &kp B      &kp LCTRL &kp Z     &kp X     &kp C     &kp V                                               &kp N     &kp M     &kp COMMA &kp DOT  &kp FSLH  &caps_word
                &kp Y     &kp O     &mo 2     &kp SPACE &kp T                                               &trans    &trans    &trans    &kp LBKT &kp RBKT
                                    &kp V     &kp M                                                                   &trans    &trans
            >;
        };

        l1_layer {
            bindings = <
    &none           &kp F1         &kp F2         &kp F3     &kp F4       &kp F5                           &kp F6    &kp F7    &kp F8    &kp F9        &kp F10   &kp F11
    &kp LG(LS(S))   &kp N1         &kp N2         &kp N3     &kp N4       &kp N5                           &kp N6    &kp N7    &kp N8    &kp N9        &kp N0    &kp F12
    &kp LC(LA(DEL)) &kp LA(F4)     &kp C_PP       &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP                     &none     &none     &none     &none         &none     &none
                  &kp C_AC_BACK  &kp C_AC_FORWARD &trans     &trans       &trans                           &trans    &trans    &trans    &kp C_AC_BACK &kp C_AC_FORWARD
                                                  &trans     &trans                                                  &trans    &trans
            >;
        };

        l2_layer {
            bindings = <
     &trans     &trans    &trans    &trans   &trans   &trans                                             &none             &none     &kp UP    &none     &none   &none
     &trans     &trans    &trans    &trans   &trans   &trans                                             &kp K_SCROLL_UP   &kp LEFT  &kp DOWN  &kp RIGHT &none   &none
     &trans     &trans    &trans    &trans   &trans   &trans                                             &kp K_SCROLL_DOWN &kp HOME  &kp PG_UP &kp PG_DN &kp END &none
                &trans    &trans    &trans   &trans   &trans                                             &trans            &trans    &trans    &none     &none
                                    &trans   &trans                                                                        &trans    &trans
            >;
        };

        sys_layer {
            bindings = <
     &bt BT_CLR  &none        &none        &none        &none        &none                               &none   &none     &none    &none     &none  &none
     &reset      &out OUT_TOG &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0 &none                               &none   &none     &none    &none     &none  &reset
     &bootloader &none        &none        &none        &ext_power EP_OFF &ext_power EP_ON               &none   &none     &none    &none     &none  &bootloader
                 &none        &none        &trans       &trans       &trans                              &trans  &trans    &trans   &none     &none
                                                        &trans       &trans                              &trans  &trans
            >;
        };
    };
};
